
<html>
<head>
	<style type="text/css">
	.item-description{
		border-bottom: 1px solid #bfbebe;
-webkit-box-shadow: 0 2px 0 -1px #ededed;
box-shadow: 0 2px 0 -1px #ededed;
padding: 15px 0px 20px 0px;
	}
.user-html {
line-height: 1.5;
overflow: auto;
}
	</style>
</head>
<body>
	<div class="item-description">
		<div class="user-html">
			<h2>jsonEditor is an useful Angular directive. It allows you to edit directly the JSON object and array.<pre>&lt;jsoneditor ng-model="test" view-only="true" json-submit-config="submitConfig&gt;&lt;/jsoneditor&gt;</pre>Use it simply as a new form element like input or checkbox.</h2>
			<h3>DEMO</h3>
			<a href="http://jsoneditor.docongbang.com">
				<img src="http://jsoneditor.docongbang.com/preview2.png" alt="Json, JSON, XML, jsoneditor, editor, xmleditor, angular, angular directive">
			</a>
			<h3>Directive features:</h3>
			<ul>
				<li>View / Edit Json Object & Array</li>
				<li>Support all data types: <b>String, Boolean, Number, Null, Array, Object</b></li>
				<li>Support Ajax Submit</li>
				<li>Working as a form element</li>
				<li>Drag-drop to re-arrange elements of array</li>
				<li>Compatible with <a href="http://codecanyon.net/item/angular-admin-table-directive/8896972">adminTable directive</a> </li>
				<li>Built with Bootstrap 3 & Angular</li>	
			</ul>
			<h3>HELP</h3>
			<ul>
				<li>There is an comprehensive documentation included in downloaded folders</li>
				<li>Contact me at <a href="http://themeforest.net/user/docongbang">themeforest</a></li>
			</ul>
			<h5>Please rate and give me your comment!</h5>
			<h4>CHANGE LOG</h4>
<pre>
	- released
</pre>
		</div>
	</div>
</body>
</html>
