<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<head lang="en">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<title>Jsoneditor Directive</title>
	<!-- Framework CSS -->
	<link rel="stylesheet" href="assets/blueprint-css/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="assets/blueprint-css/print.css" type="text/css" media="print">
	<link rel="stylesheet" href="assets/prettify.css" type="text/css">
	<script type="text/javascript" src="assets/prettify.js"></script>
	<!--[if lt IE 8]><link rel="stylesheet" href="assets/blueprint-css/ie.css" type="text/css" media="screen, projection"><![endif]-->
	<link rel="stylesheet" href="assets/blueprint-css/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
	<style type="text/css" media="screen">
		p, table, hr, .box { margin-bottom:25px; }
		.box p { margin-bottom:10px; }
		.legend{
	  	color: red;
	  	font-family:  Menlo, Monaco, Consolas, "Courier New", monospace;
	  	font-style: italic;
	  	font-weight: bold;
		}
	</style>
</head>


<body onload="prettyPrint()">
	<div class="container">
	
		<h3 class="center alt">&ldquo;JsonEditor Directive&rdquo; Documentation by &ldquo;docongbang&rdquo; v1.0.0</h3>
		
		<hr>
		
		<h1 class="center">&ldquo;JsonEditor Directive&rdquo;</h1>
		
		<div class="borderTop">
			<div class="span-6 colborder info prepend-1">
				<p class="prepend-top">
					<strong>
					Created: 10/02/2015<br>
					By: docongbang<br>
					Email: <a href="mailto:docongbang1993@gmail.com">docongbang1993@gmail.com</a>
					</strong>
				</p>
			</div><!-- end div .span-6 -->		
	
			<div class="span-12 last">
				<p class="prepend-top append-0">Thank you for purchasing my directive. If you have any questions that are beyond the scope of this help file, please feel free to email via my user page contact form <a href="http://themeforest.net/user/docongbang">here</a>. Thanks so much!</p>
			</div>
		</div><!-- end div .borderTop -->
		
		<hr>
		
		<h2 id="toc" class="alt">Table of Contents</h2>
		<ol class="alpha">
			<li><a href="#file-structure">Files Structure</a></li>
      <li><a href="#source-credit">Sources and Credits Required</a></li>			
			<li>
        <a href="#usage-config">Usage And Config</a>
        <ol>
          <li><a href="#install-guide">Install Guide</a></li>
          <li><a href="#sample-config">Config</a></li>
        </ol>
      </li>
			<li>
        <a href="#example">Example</a>
      </li>  
      <li>
        <a href="#intergrate-admin-table">Intergrate with adminTable directive</a>
      </li>
      <li>
        <a href="#change-log">CHANGE LOG</a>
      </li>    
		</ol>
		
		<hr>
		
		<h3 id="file-structure"><strong>A) Files Structure</strong> - <a href="#toc">top</a></h3>

		<pre class="prettyprint">
	    jsoneditor/      
	    ├── jsoneditor.js/      <code class="legend">//Directive main file</code>
	    ├── jsoneditor.html/    <code class="legend">//Directive template html</code>
	    ├── jsoneditor.css/     <code class="legend">//Some style config for directive</code>
    </pre>

		<hr>

		<h3 id="source-credit"><strong>B) Sources and Credits Required</strong> - <a href="#toc">top</a></h3>
		<pre class="prettyprint">
	      {
	        "jQuery" : "2.1.1"
	        "angular": "1.2.16",
	        "bootstrap": "~3.1.1",
	        "angular-resource": "1.2.16",
	        "angular-cookies": "1.2.16",
	        "angular-sanitize": "1.2.16",
	        "angular-animate": "1.2.16",
	        "angular-touch": "1.2.16",
	        "angular-route": "1.2.16",
	        "angular-bootstrap": "~0.11.0",
                "jquery-ui": "1.11.2",
                "angular-ui-sortable": "0.13.1",
	      }
	    </pre>

		<hr>
		
		<h3 id="usage-config"><strong>C) Usage & Config</strong> - <a href="#toc">top</a></h3>
		
		<ol>
			<li><h4 id="install-guide"><b>INSTALL GUIDE</b>  - <a href="#toc">top</a></h4></li>
        <ol>
          <li>
            Load <code class="legend">jQuery, angular, bootstrap, jquery-ui, angular-ui-sortable </code>
          </li>
          <li>
            Load <code class="legend">jsoneditor </code>files: <code class="legend">jsoneditor.js; jsoneditor.css, jsoneditor.html</code>
          </li>
          <li>Include <code class="legend">jsoneditorDirective module </code> in your Angular App.</li>
          <li>
            Define <code class="legend">jsoneditorTemplateUrl </code> to the path of <code class="legend">jsoneditor.html</code> in your app directory (At line 5 in the <code class="legend">jsoneditor.js </code> file)
            <img src="assets/images/templateurl.png" alt="Template Url">
          </li>
          <li>In Angular view <code class="legend">
            &lt;jsoneditor ng-model="jsonString" &gt;&lt;/jsoneditor&gt;
          </code></li>
          <li><code class="legend">Congrats, mission completed!</code></li>
        </ol>
			<li><h4 id="sample-config"><b>CONFIG ATTRIBUTES</b> - <a href="#toc">top</a></h4></li>
      <table border="1">
        <tbody>
          <thead>
            <th width="10%">Name</th>
            <th width="45%">Description</th>
            <th width="5%">Required</th>
            <th width="40%">Example</th>
          </thead>
          <tr>
            <th>ng-model</th>
            <td>The Json string to edit. It must be an JSON object or array. The json must be initialized as ARRAY <code class="legend">[]</code> or OBJECT <code class="legend">{}</code>. If the JSON format is <code class="legend">INVALID or NULL</code>, the directive will not allow to EDIT, instead, there will be an alert icon.</td>
            <td><code class="legend">Yes</code></td>
            <td>
              <ol>
                <li><code class="legend">{}</code></li>
                <li><code class="legend">[]</code></li>
                <li><code class="legend">[\"a stringeee\",0,true]</code></li>
                <li><code class="legend">{"boolean":true,"null":null,"number":123,"object":{"a":"b","c":"d","e":"f"},"string":"Hello World"}</code></li>
              </ol>
            </td>
          </tr>
          <tr>
            <th>view-only</th>
            <td>
              <ol>
                <li><code class="legend">true</code> or <code class="legend">false</code></li>
                <li><code class="legend">true</code>: Only view, not edit</li>
                <li><code class="legend">false or default</code>: Both view and edit</li>
              </ol>
            </td>
            <td><code>No</code></td>
            <td></td>
          </tr>
          <tr>
            <th>json-submit-config</th>
            <td>
              An object configuration for ajax submitting. Including <code class="legend">4</code> properties:
              <ol>
                <li>
                  <code class="legend">name</code>: the name variable of this JSON data to be sent. <code class="legend">string</code>
                </li>
                <li>
                  <code class="legend">data</code>: The extra data that will be sent together with the Json. <code class="legend">object</code>
                </li>
                <li>
                  <code class="legend">method</code>: <b>POST</b> or <b>GET</b>
                </li>
                <li>
                  <code class="legend">url</code>: The url receive data. <code class="legend">string</code>
                </li>
              </ol>
            </td>
            <td><code>No</code></td>
            <td>
              <pre class="prettyprint">$scope.submitConfig   = {
      'data'  :   {
        'extra_data': '12345',
        'user_id': '124124',
        'token': 'a12412512fjdgwekgbw', 
      },
      'model' :   'json_name',  //Name of data
      'method'  :   'POST',   //POST,
      'url' :   'http://admintable.api/jsontest.php',
    };</pre>
            </td>
          </tr>
        </tbody>
      </table>
		</ol>
    <hr>
		<h3 id="example"><strong>E) Example</strong> - <a href="#toc">top</a></h3>		
			<pre class="prettyprint">   
        ├── demo ──/
          ├── jsoneditor.css                  <code class="legend">//jsoneditor css styles</code>
          ├── jsoneditor.html                 <code class="legend">//jsoneditor html template</code>
          ├── jsoneditor.js                   <code class="legend">//jsoneditor html core js file</code>
          ├── app.js                          <code class="legend">//Demo app config file</code>
          ├── controller.js                   <code class="legend">//Demo app controller file</code>
          ├── view.html                       <code class="legend">//Demo app view file</code>
          ├── index.html                      <code class="legend">//Demo app index file</code>
          ├── ui-bootstrap-tpls-0.11.0.js     <code class="legend">//Angular Ui Bootstrap</code>
      </pre>
    <hr>
		<h3 id="intergrate-admin-table"><strong>F) Intergrate with <a href="http://codecanyon.net/item/angular-admin-table-directive/8896972">adminTable directive</a></strong> - <a href="#toc">top</a></h3>
    <p>
      <ol>
        <li>
          <h6>Config a column data with type as <code class="legend">JSON</code></h6>
          <pre class="prettyprint">
            {
              label: 'preview_pages',
              sortable: false,
              model: 'preview_pages',
              type: 'json',         //Define type as JSON
              attachData: [{        //attachData is used to process data for jsonSubmitConfig from data of row.
                model: 'id',        //with this example, when editing the json, the ajax will send also the "id" of row
                slugRequest: 'id',
              }, {
                model: 'title',      //the ajax will send also the "title" of row with the input name = "bookTitle"
                slugRequest: 'bookTitle',
              }],
              jsonSubmitConfig: {   //jsonSubmitConfig  as attribute of jsoneditor directive. Used to submit ajax after edit
                'data'  :   {},
                'model' :   'preview_pages',      //Name of data
                'method'  :   'POST',             //POST,
                'url' :   $baseApiUrl + '/books.php?action=edit',
              }
            },
          </pre>
        </li>
        <li>
          <h6>Config an ADD form element as <code class="legend">JSON</code></h6>
          <pre class="prettyprint">
            {
              label: 'Preview Pages',
              type: 'json',                 //Define type AS JSON
              slugRequest: 'preview_pages', 
              initJsonVal: '[]',            // Must be defined and valid, [] or {} or a init json value.
              apiRequestLink: false,        
              options: false,
              validation: {
                required: true,
              } 
            }
          </pre>
        </li>
      </ol>
    </p>
    <hr>
    <h3 id="change-log"><strong>G) CHANGE LOGS</strong> - <a href="#toc">top</a></h3>
    <pre class="prettyprint">
      [10-02-2015] - [v1.0.0]
        - RELEASED
    </pre>
		<hr>
		
		<p>Once again, thank you so much for purchasing this directive. As I said at the beginning, I'd be glad to help you if you have any questions relating to this directive. No guarantees, but I'll do my best to assist. If you have a more general question relating to the directives on CodeCanyon, you might consider visiting the forums and asking your question in the "Item Discussion" section or contact me at <a href="http://themeforest.net/user/docongbang">my site</a></p> 
		
		<p class="append-bottom alt large"><strong>docongbang</strong></p>
		<p><a href="#toc">Go To Table of Contents</a></p>
		
		<hr class="space">
	</div><!-- end div .container -->
</body>
</html>