<script type="text/ng-template"  id="jsoneditor_form2.html">
	<div ng-if="isObjectAndArray(data)">
		<div class="jsoneditor2-row row">
			<div class="col-md-1" ng-init="elementIndex=getElementIndex();">
				<a 
					ng-click="hiddenElements[elementIndex]=!hiddenElements[elementIndex];"
					class="btn btn-xs btn-default jsoneditor2-toggle-button">
					<span 
						ng-show="hiddenElements[elementIndex]"
						class="glyphicon glyphicon-chevron-right"></span>
					<span 
						ng-show="!hiddenElements[elementIndex]"
						class="glyphicon glyphicon-chevron-down"></span>
				</a>
			</div>
			<div class="col-md-3">
				<span ng-init="oldKey=key;">
					<input 
						class="jsoneditor2-input form-control input-xs jsoneditor-table-input" 
						ng-blur="changeObjectKey(dataParent, oldKey, key)"
						ng-model="key">
				</span>
			</div>
			<div class="col-md-6">
				{{getType(data)}} ({{getLength(data)}})
			</div>
			<div class="col-md-2">
				<span class="pull-right">
					<a class="btn btn-xs btn-default"><span class="glyphicon glyphicon-sort"></spa></a>
				</span>
			</div>
		</div>
		<div ng-init="dataOld=data;">
			<div 
				class="jsoneditor2-child"
				ng-show="!hiddenElements[elementIndex]"	
				ng-include="'jsoneditor_form2.html'"
				ng-repeat="key in noSortObject(data)"
				ng-init="data = dataOld[key];dataParent=dataOld;"></div>
		</div>
	</div>
	<div class="jsoneditor2-row row" ng-if="!isObjectAndArray(data)" ng-init="oldType=getType(data);">
		<div 
			class="col-md-3" 
			ng-init="dataParentType=getType(dataParent);oldKey=key;">
			<b 
				class="pull-right"
				ng-if="dataParentType==='Array'">{{key}}</b>
			<input 
				ng-if="dataParentType!=='Array'"
				class="form-control input-xs jsoneditor-table-input pull-right" 
				ng-blur="changeObjectKey(dataParent, oldKey, key)"
				ng-model="key">
		</div>
		<div class="col-md-1">:</div>
		<div class="col-md-6">
			<span>
				<input 
					title="{{dataParent[key]}}"
					ng-class="getClassTextColor(data)"
					ng-model="data"
					ng-change="dataParent[key]=data"
					class="form-control input-xs jsoneditor-table-input">
			</span>
			<span 
				class="glyphicon glyphicon-warning-sign text-warning"
				ng-if="oldType !== getType(dataParent[key])"
				title="Variable type was changed from {{oldType}} to {{getType(dataParent[key])}}"></span>
		</div>
		<div class="col-md-2">
			<span class="pull-right">
				<a class="btn btn-xs btn-default"><span class="glyphicon glyphicon-sort"></spa></a>
			</span>
		</div>
	</div>
</script>
<script type="text/ng-template"  id="jsoneditor_form.html">
	<div ng-if="isObjectAndArray(data)">
		<div class="jsoneditor-row">
			<span ng-init="elementIndex=getElementIndex();" class="jsoneditor-key">
				<a 
					ng-click="hiddenElements[elementIndex]=!hiddenElements[elementIndex];"
					class="btn btn-xs btn-default jsoneditor-toggle-button">
					<span 
						ng-show="hiddenElements[elementIndex]"
						class="glyphicon glyphicon-chevron-right"></span>
					<span 
						ng-show="!hiddenElements[elementIndex]"
						class="glyphicon glyphicon-chevron-down"></span>
				</a>
				<span ng-init="oldKey=key;">
					<input 
						class="jsoneditor-input form-control input-xs jsoneditor-table-input" 
						ng-blur="changeObjectKey(dataParent, oldKey, key)"
						ng-model="key">
				</span>
			</span>
			<span>
				{{getType(data)}} ({{getLength(data)}})
			</span>
		</div>
		<div ng-init="dataOld=data;">
			<div 
				class="jsoneditor-child"
				ng-show="!hiddenElements[elementIndex]"	
				ng-include="'jsoneditor_form.html'"
				ng-repeat="key in noSortObject(data)"
				ng-init="data = dataOld[key];dataParent=dataOld;"></div>
		</div>
	</div>
	<div class="jsoneditor-row" ng-if="!isObjectAndArray(data)" ng-init="oldType=getType(data);">
		<span 
			class="jsoneditor-key" 
			ng-init="dataParentType=getType(dataParent);oldKey=key;">
			<b ng-if="dataParentType==='Array'">{{key}}</b>
			<input 
				ng-if="dataParentType!=='Array'"
				class="jsoneditor-input form-control input-xs jsoneditor-table-input" 
				ng-blur="changeObjectKey(dataParent, oldKey, key)"
				ng-model="key">
		</span>
		<span class="jsoneditor-colon">:</span>
		<span>
			<input 
				title="{{dataParent[key]}}"
				ng-class="getClassTextColor(data)"
				ng-model="data"
				ng-change="dataParent[key]=data"
				class="jsoneditor-input form-control input-xs jsoneditor-table-input">
		</span>
		<span 
			class="glyphicon glyphicon-warning-sign text-warning"
			ng-if="oldType !== getType(dataParent[key])"
			title="Variable type was changed from {{oldType}} to {{getType(dataParent[key])}}"></span>
	</div>
</script>  
<script type="text/ng-template"  id="jsoneditor_view.html">
	<div ng-if="isObjectAndArray(data)" ng-init="dataParent=data;">
		<div class="jsoneditor-row">
			<span ng-init="elementIndex=getElementIndex();" class="jsoneditor-key">
				<a 
					ng-click="hiddenElements[elementIndex]=!hiddenElements[elementIndex];"
					class="btn btn-xs btn-default jsoneditor-toggle-button">
					<span 
						ng-show="hiddenElements[elementIndex]"
						class="glyphicon glyphicon-chevron-right"></span>
					<span 
						ng-show="!hiddenElements[elementIndex]"
						class="glyphicon glyphicon-chevron-down"></span>
				</a>
				<b>{{key}}</b>
			</span>
			<span>
				{{getType(data)}} ({{getLength(data)}})
			</span>
		</div>
		<div 
			class="jsoneditor-child"
			ng-show="!hiddenElements[elementIndex]"	
			ng-include="'jsoneditor_view.html'"
			ng-repeat="key in noSortObject(dataParent)"
			ng-init="data = dataParent[key]"></div>
	</div>
	<div class="jsoneditor-row" ng-if="!isObjectAndArray(data)">
		<span class="jsoneditor-key">
			<b>{{key}}</b>
		</span>
		<span class="jsoneditor-colon">:</span>
		<span ng-class="getClassTextColor(data)">
			<span ng-if="getType(data) !== 'Null'">{{data}}</span>
			<span ng-if="getType(data) === 'Null'">null</span>
		</span>
	</div>
</script> 
<div class="row" ng-show="false">
	<div class="col-md-12">
		<div class="panel panel-default">
		  	<div class="panel-heading">
		  		Editor
		  		<span class="pull-right">
		  			<a class="btn btn-xs btn-danger" ng-click="saveJson()">Save</a>
			  		<a class="btn btn-xs btn-info" ng-click="showResult=!showResult;">
			  			<span ng-if="showResult">Edit</span>
			  			<span ng-if="!showResult">Result</span>
			  		</a>
		  		</span>
		  	</div>
		  	<div class="panel-body" ng-show="!showResult">
		  		<div 
				ng-include="'jsoneditor_form.html'"
				ng-repeat="key in noSortObject(json)"
				ng-init="data=json[key];dataParent=json;"></div>
		  	</div>
		  	<div class="panel-body" ng-show="showResult">
				<div class="row">
					<div class="col-md-6">
						<pre>{{getJsonRoot() | json}}</pre>
					</div>
					<div class="col-md-6">
						<pre>{{json | json}}</pre>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-show="false">
	<div class="col-md-12">
		<div class="panel panel-default">
		  	<div class="panel-heading">
		  		Editor 2
		  		<span class="pull-right">
		  			<a class="btn btn-xs btn-danger" ng-click="saveJson()">Save</a>
			  		<a class="btn btn-xs btn-info" ng-click="showResult=!showResult;">
			  			<span ng-if="showResult">Edit</span>
			  			<span ng-if="!showResult">Result</span>
			  		</a>
		  		</span>
		  	</div>
		  	<div class="panel-body" ng-show="!showResult">
		  		<div 
					ng-include="'jsoneditor_form2.html'"
					ng-repeat="key in noSortObject(json)"
					ng-init="data=json[key];dataParent=json;"></div>
		  	</div>
		  	<div class="panel-body" ng-show="showResult">
				<div class="row">
					<div class="col-md-6">
						<pre>{{getJsonRoot() | json}}</pre>
					</div>
					<div class="col-md-6">
						<pre>{{json | json}}</pre>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
